/* src/components/MyInventory/MyInventory.module.css */

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  z-index: 1000;
}

.popupContent {
  border-radius: 20px 0px 0px 0px;
  background-color: #F2F5F8;
  width: calc(100% - 16px);
  max-width: 400px;
  height: 100%;
  box-shadow: 0px 1px 26px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

/* Sticky header elements */
.header,
.radioGroup,
.tableHeader {
  flex-shrink: 0;
}

/* Header */
.header {
  min-height: 60px;
  border-radius: 20px 0px 0px 0px;
  background: #90A4B7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.header .title {
  display: flex;
  align-items: center;
}

.header p {
  color: white;
  font-family: Satoshi, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin-left: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 30px;
  color: white;
}

.closeIcon {
  color: white;
}

.closeButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.closeButton button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}

/* Tabs */
.radioGroup {
  padding-left: 35px;
  min-height: 60px;
  display: flex;
  align-items: center;
  gap: 26px;
  border-top: 1px solid #D8DCE0;
  border-bottom: 1px solid #D8DCE0;
  background: #FFF;
  position: sticky;
  top: 60px; /* Height of header */
  z-index: 2;
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.radioText {
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 700;
  color: #90A4B7;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.radioInput:checked + .radioText {
  color: #2F3236;
  border-bottom: 3px solid #3FA9F5;
}

/* Table Header */
.tableHeader {
  display: grid;
  grid-template-columns: 3fr 1fr 4fr;
  background-color: #fff;
  position: sticky;
  top: 120px; /* Height of header + radioGroup */
  z-index: 1;
  padding: 20px 0;
}

.descriptionHeader,
.qtyHeader,
.tagsHeader {
  color: #2F3236;
  font-family: Satoshi, sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}

.descriptionHeader {
  padding: 0 30px;
}

.qtyHeader {
  text-align: center;
}

/* Scrollable content */
.content {
  flex: 1;
  overflow-y: auto;
  padding: 0px 20px 20px 20px;
  background-color: white;
}

/* New style for Descriptive Symbols content */
.descriptiveContent {
  background-color: #F2F5F8;
}

/* Room Section */
.roomSection {
  margin-bottom: 20px;
}

.roomName {
  border: 1px solid #C5E5FC;
  background: rgba(63, 169, 245, 0.15);
  color: #3FA9F5;
  font-family: Satoshi, sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 10px;
}

.firstRoom .roomName {
  border-radius: 12px 12px 0px 0px;
}

/* Items Table */
.itemsTable {
  margin-top: 0;
}

.itemRow {
  display: grid;
  grid-template-columns: 3fr 1fr 4fr;
  align-items: center;
  padding: 10px 0;
  border: 1px solid #C5E5FC;
}

/* Adjusted nth-child selectors to exclude total rows */
.itemsTable .itemRow:not(.totalRow):not(.grandTotalRow):nth-child(odd) {
  background: #FFF;
}

.itemsTable .itemRow:not(.totalRow):not(.grandTotalRow):nth-child(even) {
  background: #F5FBFF;
}

.descriptionCell,
.qtyCell,
.tagsCell {
  padding: 0 10px;
  color: #2F3236;
  font-family: Satoshi, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.descriptionCell {
  display: flex;
  align-items: center;
}

.descriptionContent {
  display: flex;
  align-items: center;
}

.descriptionContent span:not(.symbol) {
  font-weight: 700;
}

.symbol {
  margin-right: 5px;
  font-weight: bold;
}

.qtyCell {
  text-align: center;
}

.tagsCell {
  display: flex;
  flex-wrap: wrap;
}

/* Tags */
.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

/* Total Row */
.totalRow {
  background: #FFF !important;
  font-weight: bold;
  border-top: 1px solid #C5E5FC;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.totalRow .descriptionCell,
.grandTotalRow .descriptionCell {
  text-align: right;
  padding-right: 10px;
}

.totalRow .qtyCell,
.totalRow .tagsCell,
.grandTotalRow .qtyCell,
.grandTotalRow .tagsCell {
  font-weight: 700;
}

/* Grand Total Section */
.grandTotalSection {
  margin-top: 20px;
}

.grandTotalRow {
  background: #FFF !important;
  font-weight: bold;
  border: 1px solid #C5E5FC;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.grandTotalRow .descriptionCell,
.grandTotalRow .qtyCell,
.grandTotalRow .tagsCell {
  color: #3FA9F5;
}

/* Adjustments for alignment */
.roomTotals,
.grandTotals {
  display: none;
}

.tagPlaceholder {
  display: inline-block;
  width: 8px;
  text-align: center;
  margin-right: 5px;
}

/* Style for strikethrough text */
.strikethrough {
  text-decoration: line-through;
}

/* Descriptive Symbols Styles */
.descriptiveSymbolsContainer {
  padding: 30px;
}

.tagRow {
  display: flex;
  align-items: center;
}

.tagRow:not(:last-child) {
  margin-bottom: 21px;
}

.tagIcon {
  margin-right: 8px;
}

.tagName {
  color: #2F3236;
  font-family: Satoshi, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.noItemsMessage {
  color:#2F3236;
font-family: Satoshi;
font-size: 0.93rem;
font-weight: 700;
line-height: normal;
padding: 15px 15px;
}
