

.itemList {
  display: grid; /* Enables grid layout */
  grid-template-columns: repeat(auto-fill, minmax(101px, 1fr)); /* Responsive grid */       /* Allows items to wrap to the next line */
    gap: 10px;               /* Defines space between items */
    padding-top: 15px; 
    padding-left: 5px;
    padding-right: 5px;             /* Removes default padding */
    margin: 0;               /* Removes default margin */
    list-style: none;        /* Removes default list bullets */
    margin-bottom: 70px;
    padding-bottom: 15px;
  }

  
