.container {
    /* Add container-specific styling here */
    background: #F2F5F8;
    display: flex;
    align-items: center;
    /* You can add margin, padding, background, etc. as needed */
    padding-right: 20px;
  }
  
  .button {
    background: #3FA9F5;
    border: none;
    border-radius: 12px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    padding: 0 18px;
    cursor: pointer;
    font-family: Satoshi, sans-serif;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .text {
    color: #FFF;
    font-size: 0.93rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 7px;
  }
  
  .plus {
    color: #FFF;
    font-size: 1.3rem; /* Adjust as desired */
    font-weight: 500; /* Adjust as desired */
  }
  