.item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  flex: 1 1 118px;
  width: 100%;
  height: 118px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.numberBadge {
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #59B779;
  color: #ffffff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Satoshi;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: width 0.3s ease, border-radius 0.3s ease;
  overflow: hidden;
}

.numberBadgeRed {
  background-color: #F65676;
}

.numberBadgeExpanded {
  width: 75px;
  border-radius: 13px;
  justify-content: space-between;
  padding: 0 5px;
}

.minusButton,
.plusButton {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeNumber {
  flex: 1;
  text-align: center;
}

.menuIcon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.menuIcon svg {
  width: 4px;
  height: 13px;
  fill: #6E7882;
  transition: fill 0.3s ease;
}

.menuIcon:hover svg {
  fill: #000000;
}

.itemImagewrapper {
  width: 72px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

.itemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.itemName {
  margin-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  color: #6E7882;
  text-align: center;
  font-family: Satoshi;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
