.container {
  display: flex;
  flex-direction: column;
  height: var(--app-height); /* Use the dynamic height instead of 100vh */
 
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  background: #F2F5F8;
}

/* Pagination styles */
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F5F8;
  padding: 10px 0;
}

.paginationText {
  font-family: Satoshi, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #2F3236;
  margin-right: 20px;
}

.paginationButtons {
  display: flex;
  gap: 10px;
}

.pageButton {
  background: #E4EAEF;
  border: none;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: 700;
  color: #2F3236;
}

.pageButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
