/* src/components/Inventory/HouseHeader/HouseHeader.module.css */

.houseHeader {
    border-radius: 20px 0px 0px 0px;
    border-bottom: 1px solid #D8DCE0;
    background: #FFF;
    height: 70px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensure content is vertically centered */
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 0 auto;
  }
  
  /* Removed styles related to the add room button:
  .addRoomButton
  .addRoomText
  .addRoomIcon
  */
  