/* src/components/Inventory/ItemSelection/AlphabetFilter/AlphabetFilter.module.css */

.alphabetFilter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 68px; /* Set container height to 68px */
    background-color: #F2F5F8; /* Optional background color */
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
  }
  
  .alphabetFilter::-webkit-scrollbar {
    height: 0px; /* Reduce scrollbar height */
  }
  
  
  .alphabetButton {
    width: 39px; /* Fixed width */
    height: 44px; /* Fixed height */
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Remove default padding */
    color: #90A4B7;
    text-align: center;
    font-family: 'Satoshi', sans-serif; /* Ensure the font is loaded */
    font-size: 0.81rem;
    font-weight: 700;
    line-height: normal;
    margin-right: 5px; /* Spacing between buttons */
    padding: 13px 15px;
  }
  
  .alphabetButton:hover {
    background-color: #71879C;
    color: white;
  }
  
  .active {
    background-color: #71879C;
    color: white;
  }
  
  .active:hover {
    background-color: #71879C;
  }
  
  .subButton {
    width: 39px; /* Match the main button's width */
    height: 36px; /* Slightly smaller height for sub-buttons */
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Remove default padding */
    color: #90A4B7;
    text-align: center;
    font-family: 'Satoshi', sans-serif; /* Ensure the font is loaded */
    font-size: 0.81rem;
    font-weight: 700;
    line-height: normal;
    margin-right: 5px; /* Spacing between sub-buttons */
    padding: 13px 15px;
  }
  
  .subButton:last-child {
    margin-right: 0; /* Remove margin from the last sub-button */
  }
  
  .subButton:hover {
    background-color: #71879C;
    color: white;
  }
  
  .alphabetFilterBanner {
   height: 30px;
   border-radius: 8px;
   background: #E4EAEF;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  
  .alphabetFilterBanner p {
    color: #90A4B7;
    text-align: center;
    font-family: Satoshi;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }


  