.popup, .popupContent, .itemSelectionContainer, .card {
  user-select: none; /* Disable text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
}

.popup {
    position: fixed;
    top: 0;
    right: 0; /* Align to the right side */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15); /* Semi-transparent background */
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: stretch; /* Stretch content to fill height */
    z-index: 1000; /* Ensure it overlays other content */
  }

  .popupContent {
    border-radius: 20px 0px 0px 0px;
    background-color: #F2F5F8; /* Adjusted as per your styles */
    width: 100%;
    max-width: 400px; /* Max width of 400px */
    height: 100%; /* Full height */
    box-shadow: 0px 1px 26px 0px rgba(0, 0, 0, 0.3); /* Add a shadow for depth */
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
  }
  
  .header {
    width: 100%;
    min-height: 60px;
    border-radius: 20px 0px 0px 0px;
    background: #3FA9F5;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .title {
    display: flex;
    align-items: center;
  }

  .header p {
    color: white;
    font-family: Satoshi;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 54px;
  }

  .closeButton {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .closeButton button {
    background: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: none; /* Removes the default focus outline */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;      /* Set the desired width */
    height: 50px;     /* Set the desired height */
    padding: 0;       /* Remove padding if needed */
    margin: 0;        /* Adjust margins if necessary */
  }

  .closeIcon {
    width: 24px; /* Adjust as needed */
    height: 24px;
    fill: white; /* Icon color */
  }

  .content {
    flex: 1; /* Allow content to grow and fill available space */
    overflow-y: auto; /* Add scroll if content overflows */
    padding: 30px; /* Adjust padding as needed */
  }