.headerContainer {
  display: flex;
  flex-direction: column;
}

.topBar {
  height: 60px;
  background-color: #3FA9F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.bottomBarBack {
  height: 20px;
  background-color: #3FA9F5;
}

.bottomBar {
  height: 20px;
  background: #F2F5F8;
  border-radius: 20px 0px 0px 0px;
}

.leftGroup {
  display: flex;
  align-items: center;
}

.addBarsIcon {
  width: 24px;
  height: 24px;
}

.verticalDivider {
  width: 1px;
  height: 40px;
  background: rgba(255, 255, 255, 0.20);
  margin-left: 14px; 
}

.homeText {
  margin-left: 20px; 
  color: #FFF;
  font-family: Satoshi, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
}

.rightGroup {
  display: flex;
  align-items: center;
}

.messageGroup {
  display: flex;
  align-items: center;
}

.messageBadge {
  width: 24px;
  height: 24px;
  background: #FAA61A;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: Satoshi, sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-right: 7px;
}

.messageIcon {
  width: 20px;
  height: 20px;
}

.notificationGroup {
  display: flex;
  align-items: center;
  margin-left: 19px;
}

.notificationBadge {
  width: 10px;
  height: 10px;
  background: #FAA61A;
  border-radius: 50%;
  margin-right: 7px;
}

.notificationIcon {
  width: 20px;
  height: 20px;
}

/* New forward arrow icon styling */
.forwardArrowIcon {
  width: 24px;
  height: 24px;
  fill: #FFF;
  margin-left: 20px;
  cursor: pointer;
}

/* When a lead is selected, change bottom bar to white */
.leadSelected .bottomBar {
  background: #FFFFFF;
}
